@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --smokywhite: rgba(255, 255, 255, 1);
    --error: rgba(255, 35, 83, 0.81);
}

*{
    font-family : "Poppins", sans-serif;
    margin: 0;
}

body{
    background: radial-gradient(
        closest-side,
        rgba(0, 96, 255, 1) 8.146882057189941%,
        rgba(0, 58, 153, 1) 100%
      );
      overflow: hidden;
    height:100vh;
    width:auto;
}

/* login.html */
.login-body{
      overflow: hidden;
      display: flex;
     /* justify-content: center; */
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
}
.header-container{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.login-container{
    background: linear-gradient(146deg, #021b4d 43.33%, #043699 138.38%);
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.header-container img{
    width:180px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-back{
    margin-right:30px;
    width: 90px;
    height: 35px;
    background-color:#1b213649;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: var(--smokywhite);
}
h1{
    color:var(--smokywhite);
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    
}

.user-pass-container{
    /* background-color:red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:30px;
}

.username-container{
    width:70%;
    height:auto;
    
}

.password-container{
    width:70%;
    height:auto;
}

.username{
    display: flex;
    flex-direction: row;
    color: var(--smokywhite);
    width:100%;
}

.username img{
    width:10%;
    height: 10%;
}

.username input{
    background-color: transparent;
    border: none;
    color: var(--smokywhite);
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    width:100%;
    
}

.password-container p{
    color: var(--error);
    font-size: 10px;
    font-weight: 500;
    padding: 2px;
    padding-left: 0px;
    margin-bottom: 10px;
    visibility: hidden;
}

.line{
    width: 100%;
    height: 1px;
    background: #ffffffcb;
    margin-top: 5px;
}

.forgot-pass{
    color: var(--smokywhite);
    width: 70%;
    display: flex;
    justify-content: right;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 40px;
}

.btn-login{
    width: 100px;
    height: 35px;
    background-color:#0075FF;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: var(--smokywhite);
}

.email-pass{
    color: var(--smokywhite);
    width:100%;
    background-color: rgba(246, 249, 255, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    visibility:hidden;
}

.email-pass p{
    color: var(--smokywhite);
    font-size: 12px;
    border: none;
    
}

.email-pass img{
    width:20px;   
}

.username input:focus{
    outline: none;
}




/* ---------------------------------------------- Change password -------------------------------------*/
#change-pass-container{
    padding-top:30px;
    padding-bottom: 60px;
}

#change-pass-input{
    margin-left: 3px;
}

#confirm-pass-container{
    padding-bottom: 30px;
}

#confirm-pass-line{
    /* background-color: var(--error); */
}

.confirm-pass-error::placeholder {  
    /* color:var(--error); */
  }


/*-------------------------------- password-successfully changed---------------------------------------------- */

.blur{
    height:100vh;
    width: 100vw;
    top:0;
    bottom:0;
    z-index: 1;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

.blur div{
    background-color: red;
    padding:10px;
    background: rgba(0, 1, 3, 0.48);
    display: flex;
    padding-left: 30px;
    padding-right:30px;
    border-radius: 10px;
    justify-content: center;
    gap:20px;
    align-items: center;
}

.blur p{
    color: var(--smokywhite);

}

.blur img{
    width: 15%;
}

/*---------------------------------------- manage.html ------------------------------------------*/

.manage-emp-body{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    gap:30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    }

    .menu-container{
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px;
        background: rgba(5, 25, 73, 0.54);
        height: 90vh;
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .invenger-logo-container{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .invenger-logo-underline{
        background: linear-gradient(90deg,
         rgba(159, 159, 159, 0.08) 0.88%,
         #ffffffb9 49.05%,
         rgba(153, 153, 153, 0.08) 100%);
         width: 90%;
         height:1px;
    }

    .invenger-logo-container img{
        width:60%;
        padding: 10px;
    }

    .menu-item-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding-top: 30px;
    }

    ul{
        list-style-type: none;
        padding: 0px;
        margin: 0;
        margin-top:15px;
    }
    
    ul li{
        margin-bottom: 20px;
    }

    .menu-items-container{
        padding-left: 10px;
        padding-right: 10px;
    }
   

   ul li #home{
    background: rgba(4, 10, 41, 0.32);
    }

    ul li a{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: c;
    /* width: 5vw; */
    gap:10px;
    padding:10px;
    padding-left: 20px;
    padding-right:80px;
    color: var(--smokywhite);
    font-size: 12px;
    font-weight: 500;
    /* line-style-type:none; */
    text-decoration: none;
    }

    ul li a img{
        width: 100%;
        height: 0%;
    }   

    #img-print{
        width: 20%;
    } 

    .manage-emp-container{
        width: 100%;
        border-radius: 22px;
        color: var(--smokywhite);
        font-size: 15px;
        /* padding-top: 40px; */
        height: fit-content;
    }

    .manage-emp-container p{
        font-size: 15px;
        padding-left: 15px;
        font-weight: 600;
        padding-bottom: 5px;
        color: rgba(255, 255, 255, 0.822);
    }

    .manage-emp-upper{
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 100%;
        gap:20px;
    }
    

    .emp-search-icon{
        width:15px;
        height: 15px;
        padding:6px;
    }

    .manage-emp-upper div{
        background: #001643;
        border-radius: 7px;
        border: solid 0.5px rgba(255, 255, 255, 0.459);
        width: 20%;
        display : flex;
        flex-direction: row;
        /* background-color: red; */
        padding-right:10px;
    }

    .manage-emp-upper input{
        border-radius: 7px;
        border: none;
        color: white;
        padding-left: 10px;
        padding-top:4px;
        padding-bottom: 4px;
        background: #001643;
    }

    .manage-emp-upper input:focus{
        outline: none;
    }

    .manage-emp-upper input::placeholder{
        color: rgba(255, 255, 255, 0.651);
    }

    .manage-emp-upper button{
        color: rgba(255, 255, 255, 0.80);
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.445);
        border:none;
        border-radius: 7px;
    }



    .emp-details{
        width:100%;
        height: 81vh;
        overflow: auto; 
        scrollbar-width: thin;
        scroll-behavior: smooth;
        scrollbar-color: #0075FF rgba(0, 128, 0, 0);
        border-radius: 22px;
        display:flex;
        justify-content: center;
        background-color: rgba(5, 25, 73, 0.54);
    }
   

    .emp-details table{
        border-collapse: collapse;
        height: fit-content;
        width: 95%;
    }

    .emp-details table th ,td{
        font-size: 1vw;
        text-align: left;
    }

    #active-column{
        color: rgb(3, 252, 3);
    }
      .emp-details td,th{
        border-bottom: 1px solid rgba(241, 236, 236, 0.788);
        padding-top:20px;
        padding-left:10px
      }

      .emp-details td{
       
        color: rgba(255, 255, 255, 0.781);
      }

      .emp-details img{
        width:15px;
      }

/* --------------------------------popup for edit emp--------------------------------------------  */
.blur{
    display: none;
}

.update-emp-form{
    background-color: rgba(248, 239, 239, 0.233); 
    border-radius: 10px;
    width: 30rem;
    padding:30px;
    display:none;
}

.update-emp-inputs{
    background-color: transparent !important;
    display: flex !important;
    justify-content: left !important;
    flex:1 !important;
    padding-bottom: 20px !important;
}

.update-emp-inputs label{
    width: 150px !important;
    color: var(--smokywhite);
    font-size: 15px;
    font-weight: 600;
    
}

.update-emp-inputs input{
    background-color: transparent !important;
    border: 1px solid var(--smokywhite);
    width: 15rem;
    font-weight: 600;
    border-radius: 5px;
    color: var(--smokywhite);
    font-size: 15px;
    padding: 5px;
}

.update-emp-inputs input:focus{
    outline:none;
}

.update-emp-inputs input::placeholder{
   color: rgba(255, 255, 255, 0.486) !important;
   font-weight: 500;
   font-size: 15px;
}

.save-cancel-btn{
    height: auto;
    background-color: transparent !important;
    display: flex !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    justify-content: space-evenly !important;
}

.save-cancel-btn button{
    padding: 5px;
    width: 80px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    color: var(--smokywhite);
    font-weight: 600;
    border: none;
    color: var(--smokywhite);
}

.save-cancel-btn button:nth-child(1){
    background-color:rgba(125, 125, 238, 0.568);
}

.save-cancel-btn button:nth-child(2){
    background-color: rgba(243, 121, 121, 0.555);
}

/* pop up */

#status{
    display:flex;
    width: 16rem;
    background: var(--smokywhite);

    color: black;
}
.update-emp-form{
    background-color: rgba(248, 239, 239, 0.233); 
    border-radius: 10px;
    width: 35rem;
    padding-left:120px;

    display:none;
}
.scan_image{
    border: none;
    padding-top: 10px;
    background-color:transparent;
   
}
.save-cancel-btn{
    height: auto;
    background-color: transparent !important;
    display: flex !important;
    padding-left: 50px !important;
    padding-right: 120px !important;
    justify-content: space-evenly !important;
}

/*-------------------------------add employee ------------------------------------------------ */

.add-emp-upper{
    padding-top:3%;
    justify-content: left;
    gap:20px;
}

.emp-details-form{
    width:100%;
    height: 81vh;
    border-radius: 22px;
    background-color: rgba(5, 25, 73, 0.54);
}

.emp-details-credentials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:80px;
    padding-top: 12%;
    padding-bottom: 8%;
}

.emp-details-credentials-left{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.emp-details-credentials-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.emp-details-credentials-right input{
    border-radius: 5px;
    border-width: 0.2px;
    /* height:25px; */
    border: 0.5px solid #ffffffa4;
    background: rgba(5, 40, 94, 0.82);
    padding-left: 10px;
    width:300px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--smokywhite);
    font-size: medium;
}

.emp-details-credentials-right input:focus{
    outline: none;
}

.add-emp-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

.btn-save{
    margin-right:30px;
    width: 90px;
    height: 35px;
    background-color:#0075FF;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: var(--smokywhite);
}

.nfc-scanner-container {
    display: flex;
    align-items: center;
}

.nfc-scanner {
    flex: 1;
}

.nfc-scan-button {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nfc-scan-button img {
    width: 38px;
    margin-right: 10px;
}
     

